<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="footer">
        <div class="container">
            <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 py-5 my-5 text-center">
    <h3>
        LOCATION
    </h3>
    <p>
        2215 John Daniel Drive
    </p>
    <p> 
        Clark, MO 65243
    </p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 py-5 my-5 text-center ">
      <h3>
        AROUND THE WEB
      </h3>
      <ul class="d-flex justify-content-center me-5">
        <li class="mx-1 circle-dico">
            <i class="fa-brands fa-facebook"></i>
        </li>

        <li class="mx-1 circle-dico">
            <i class="fa-brands fa-twitter"></i>
        </li>

        <li class="mx-1 circle-dico">
            <i class="fa-brands fa-linkedin-in"></i>
        </li>

        <li class="mx-1 circle-dico">
            <i class="fa-solid fa-globe"></i>
        </li>

      </ul>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-5 my-5 text-center">
            <h3>
                ABOUT FREELANCER
            </h3>
            <p>
                Freelance is a free to use, licensed Bootstrap theme created by Route
            </p>
            </div>


            </div>
        </div>
    </div>
    <div class="last-p text-white">
        <p class="text-center pt-2">Copyright © Your Website 2021</p>
    </div>
</body>
</html>
