<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="py-5">
    <div class="contact py-5">
        <div class="container my-5">
            <h1 class="text-center mt-5">
                CONATCT SECTION
            </h1>
            <!----------- style under h1 ------------------- -->
            <div class=" d-flex justify-content-center mb-5 mt-2">
                <div class="line-style me-4 mt-2">

                </div>
                <i class="fa-solid fa-star"></i>
                <div class="line-style ms-4 mt-2">

                </div>
            </div>
<!-- ----------------------form ---------------- -->
            <div class="form">
                <form action="" class="w-75 m-auto">
                  
                    <div class="form-group my-5">
                        <input type="text" class="form-control inputs"  required />
                        <label class="form-control-label"  labelPlacement="floating">User Name</label>
                      </div>
                      <div class="form-group my-5">
                        <input type="text" class="form-control inputs" required />
                        <label class="form-control-label">User Age</label>
                      </div>
                      <div class="form-group my-5">
                        <input type="email" class="form-control inputs" required />
                        <label class="form-control-label" >User Email</label>
                      </div>
                      <div class="form-group my-5">
                        <input type="password" class="form-control inputs" required />
                        <label class="form-control-label" >User Password</label>
                      </div>
                   
                  <button class="btn btnn">
                    Send Message
                  </button>
                </form>
            </div>
                </div>
    </div>
</body>
</html>
